body{
	margin:0px;
	padding:0px;
}
.mein {
	width: 100%;
	height: 3600px;
}
.window1 {
	width: 100%;
	height: 600px;
}
.window2 {
	width: 100%;
	height: 3000px;
	display: flex;
	justify-content: space-around;
}
.menu_ul{
margin-top: 10px;
padding-right: 30px;
float: left;
display: flex;
flex-direction: row;
align-items: center;
}
.menu_li{
margin-left: 40px;
display: inherit;


}
.menu_li a{
text-decoration: none;
font-family: Impact;
color: white;
transition: 1s;
font-size: 30px;
text-shadow: 1px 1px 2px black;
}

.menu_li a:hover {
	color: #4B0082;
	transition: 1s;

 }
.menu	{
z-index:2;
height: 60px;
width: 100%;
color: white;
display: inherit;
position: fixed;
background-color: rgba(71,74,82,0.3);
transition: 1s;

}
.menu:hover{
transition: 1s;
background-color: rgba(11,11,11,0.6)
}

.middle {
	width: 55%;
	height: 100%;
	background-color: #121212;
	display: flex;
	justify-content: space-around;
	align-content: space-around;
	flex-direction: column;
	align-items: center;
	box-shadow: inset 0 0 20px #FF00FF;
}
.middle_li {
	display: inherit;
	width:90%;
	height: 15%;
	display: flex;
	justify-content: space-around;
	border-top: 2px ridge white;
	border-bottom: 2px ridge white;
	transition: 1s;

}
.middle_li:hover {
	border-top: 2px ridge #FF00FF;
	border-bottom: 2px ridge #FF00FF;
	transition: 1s;
}


.box {
	width: 45%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.pic {
	width: 55%;
	height: 100%;
	display: flex;
	align-items: center;
}
.adapt{
  	flex:1 1 auto;
  	width:80%;
	box-shadow: 0 0 10px #FF00FF;
 }

.left {
	width: 22.5%;
	height: 3000px;
	background-color: #9400D3;
}
.right {
	width: 22.5%;
	height: 3000px;
	background-color: #9400D3;
}
.left_adapt {
	flex:1 1 auto;
  	width:100%;
  	height: 100%;
}
.right_adapt {
	flex:1 1 auto;
  	width:100%;
  	height: 100%;
}

.top_adapt {
	flex:1 1 auto;
  	width:100%;
  	height: 100%;
}




.words1,.words3,.words4,.words5,.words6 {
	text-decoration: none;
	font-family: Impact;
	color: white;
	font-size: 30px;

}
.words2 {
	text-decoration: none;
	font-family: Impact;
	color: white;
	font-size: 25px;
}


.text1 {
	text-decoration: none;
	font-family: Impact;
	color: white;
	font-size: 50px;
	margin:3%;
	margin-left: 3%;
	text-shadow: 4px 4px 2px #FF00FF;
	transition: 1s;
}
.text1:hover {
	transition: 1s;
	color: #DA70D6;
}






.menu_ul{
margin-top: 10px;
padding-right: 30px;
float: left;
display: flex;
flex-direction: row;
align-items: center;
}
.menu_li{
margin-left: 40px;
display: inherit;


}
.menu_li a{
text-decoration: none;
font-family: Impact;
color: white;
transition: 1s;
font-size: 30px;
text-shadow: 1px 1px 2px black;
}

.menu_li a:hover {
	color: #4B0082;
	transition: 1s;

 }
.menu	{
z-index:2;
height: 60px;
width: 100%;
color: white;
display: inherit;
position: fixed;
background-color: rgba(71,74,82,0.3);
transition: 1s;

}
.menu:hover{
transition: 1s;
background-color: rgba(11,11,11,0.6)
}

.menu_li a{
text-decoration: none;
font-family: Impact;
color: white;
transition: 1s;
font-size: 30px;
text-shadow: 1px 1px 2px black;
}




















#slider { /*положение слайдера*/
    position: relative;
	text-align: center;
    top: 10px;
}

#slider{ /*центровка слайдера*/
	margin: 0 auto;
}

#slides article{ /*все изображения справа друг от доруга*/
	width: 20%;
	float: left;
}

#slides .image{ /*устанавливает общий размер блока с изображениями*/
	width: 500%;
	line-height: 0;
}

#overflow{ /*сркывает все, что находится за пределами этого блока*/
	width: 100%;
	overflow: hidden;
}

article img{ /*размер изображений слайдера*/
	width: 73%;
}

#desktop:checked ~ #slider{ /*размер всего слайдера*/
	max-width: 960px; /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked ~ #controls label:nth-child(5), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
	background: url('prev.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: left;
	margin: 0 0 0 -2%; /*сдвиг влево*/
	display: block;
	height: 68px;
	width: 68px;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1){
	background: url('next.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: right;
	margin: 0 -2% 0 0; /*сдвиг вправо*/
	display: block;
	height: 68px;
	width: 68px;
}

label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
	cursor: pointer;
}

.all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
	display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image{
	margin-left: 0;
}

#switch2:checked ~ #slides .image{
	margin-left: -100%;
}

#switch3:checked ~ #slides .image{
	margin-left: -200%;
}

#switch4:checked ~ #slides .image{
	margin-left: -300%;
}

#switch5:checked ~ #slides .image{
	margin-left: -400%;
}

#controls{ /*положение блока всех управляющих элементов*/
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

#active label{ /*стиль отдельного переключателя*/
	border-radius: 10px; /*скругление углов*/
	display: inline-block; /*расположение в строку*/
	width: 15px;
	height: 15px;
	background: #bbb;
}

#active{ /*расположение блока с переключателями*/
	margin: 23% 0 0;
	text-align: center;
}

#active label:hover{ /*поведение чекбокса при наведении*/
	background: #FF00FF;
	border-color: #FF00FF !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5){
	background: #FF00FF;
	border-color: #FF00FF !important;
}

#slides .image{ /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{ /*прозрачность стрелок при наведении*/
	opacity: 0.6;
}

#controls label{ /*прозрачность стрелок при отводе курсора*/
	transition: opacity 0.2s ease-out;
}
